@import '../../styles/libs/variables';

.root {
  margin-top: 30px;
  margin-left: 80px;
  width: 680px;
}

.main {
  margin-top: 10px;
  width: 680px;
  height: 852px;
  border-radius: 20px;
  background-color: $color-white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 20px;
}

.allBreeds {
  position: relative;
  width: 226px;
  height: 40px;
  border-radius: 10px;
  background-color: $color-background;

  select {
    width: 226px;
    height: 40px;
    padding: 8px 10px;
    border-radius: 10px;

    appearance: none;

    font-weight: 400;
    font-size: 16px;
    color: $color-gray;
  }

  option {
    border-radius: 20px;
    font-size: 20px;
  }

  img {
    position: absolute;
    top: 14px;
    right: 14px;
  }
}

.limit {
  position: relative;
  width: 104px;
  height: 40px;
  border-radius: 10px;
  background-color: $color-background;

  select {
    width: 104px;
    height: 40px;
    padding: 8px 10px;
    border-radius: 10px;

    appearance: none;

    font-weight: 400;
    font-size: 16px;
    color: $color-gray;
  }

  option {
    border-radius: 20px;
    font-size: 20px;
  }

  img {
    position: absolute;
    top: 14px;
    right: 14px;
  }
}

.sortBtn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: $color-background;
}

.sortBtnActive {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: $color-lightRed;
  color: white;
}

.fotoColection {
  height: 739px;
  overflow: hidden;
}
