@import '../../styles/libs/variables';

.root {
  display: flex;
}

.rightSection {
  margin-top: 30px;
  margin-left: 80px;
  width: 680px;
  height: 840px;
}

.main {
  margin-top: 10px;
  height: 770px;
  border-radius: 20px;
  padding: 0 20px;
  background-color: $color-white;
}

.buttonTop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  padding: 20px 0;
}

.fotos {
  height: 460px;
  overflow: hidden;
}

.historyItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 640px;
  height: 60px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: $color-background;

  .time {
    margin: 15px;
    padding: 3px 10px;
    background-color: $color-white;
    border-radius: 5px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $color-dark;
  }

  .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $color-gray;

    span {
      font-weight: 500;
      color: $color-dark;
    }
  }

  .historyIcone {
    width: 20px;
    height: 17.3px;
    margin: 20px;
  }
}
