.root {
  // width: 775px;
  width: 680px;
  margin-left: 80px;

  height: 900px;
  position: relative;
}

.background {
  position: absolute;
  right: 30px;
  top: 30px;
}

.girlAndPet {
  position: absolute;
  top: 0;
  left: 0;
}
